.heroContent {
  position: relative;
  z-index: 10;
  padding-top: 102px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .heroContent {
    position: absolute;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    top: 166px;
    left: 207px;
    width: 576px;
    gap: 40px;
  }
}
